@charset "UTF-8";

/*
Typical device breakpoints

Pequenas telas até 600px
celular de 600px até 768px
tablet de 768px até 992px
desktop 992px até 1200px
grandes telas cima de 1200px
*/

/* config para tablets */

@media screen and (min-width: 700px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }
    section#login{
        width: 80vw;
        height: 290px;
    }
}